### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the datasets

##### * I have several databases in excel format
##### * xlrd is installed to read xls file
##### * openpyxl is installed to read xlsx file

In [3]:
df_1 = pd.read_excel("data/Coste del tratamiento de los residuos urbanos.xls")

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Descripcion                         372 non-null    object
 1   Año                                 372 non-null    int64
 2   Centro de Tratamiento               372 non-null    object
 3   Total                               369 non-null    object
 4   Amortización                        369 non-null    object
 5   Explotación                         369 non-null    object
 6   Coste medio global por Tm (&euro;)  369 non-null    object
dtypes: int64(1), object(6)
memory usage: 20.5+ KB