## EMISION DE GASES EFECTO INVERNADERO

In [1]:
import pandas as pd
import numpy as np

In [3]:
emisiones = pd.read_excel("data/total contaminantes nacional.xlsx")
emisiones

,ANNO,SECTOR,ACTIVIDAD,DESCRIPCION,NO2,NMVOC,SOX,NH3,PM2_5,PM10,...,DIOX,BEN_A_PI,BEN_B_FL,BEN_K_FL,INDENO,PAH,HCB,PCB,Unnamed: 30,Unnamed: 31
0,2010,J_Waste,5A,Biological treatment of waste - Solid waste di...,0.012060,4.255421,0.000000,0.000000,0.005535,0.008467,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN
1,2010,J_Waste,5B1,Biological treatment of waste - Composting,0.000000,0.000000,0.000000,1.087810,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN
2,2010,J_Waste,5B2,Biological treatment of waste - Anaerobic dige...,0.001835,0.000000,0.000000,0.085614,0.000763,0.000763,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN
3,2010,J_Waste,5C1a,Municipal waste incineration,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN
4,2010,J_Waste,5C1bi,Industrial waste incineration,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2019,J_Waste,5C2,Open burning of waste,16.561077,17.641147,0.360023,0.000000,45.122933,49.563222,...,6.000390,0.129239,0.249247,0.221553,0.0,0.600039,0.0,0.0,NaN,NaN
146,2019,J_Waste,5D1,Domestic wastewater handling,0.006856,0.071834,0.000000,0.000000,0.002848,0.002848,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN
147,2019,J_Waste,5D2,Industrial wastewater handling,0.003129,0.024939,0.000000,0.000000,0.001301,0.001301,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN
148,2019,J_Waste,5D3,Other wastewater handling,0.000000,0.000000,0.000000,2.110270,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN
149,2019,J_Waste,5E,Other waste (please specify in IIR),0.000000,0.012628,0.000000,0.001514,1.627843,1.627843,...,16.672112,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,NaN,NaN