## GASES DE EFECTO INVERNADERO

In [2]:
import pandas as pd
import numpy as np

In [3]:
gases = pd.read_excel("data/Gases Efecto Invernadero por PIB y per cápita.xls")
gases

,VALORES,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,Total de Emisiones de Gases Efecto Invernadero...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Valor: PER CÁPITA=Toneladas CO2 equivalent...,6.86,7.34,7.49,7.21,7.45,7.18,7.09,7.63,7.79,7.84,8.19,9.14
2,Índices de volumen encadenados (año 2015=100),92.20,98.50,100.60,96.80,100.00,96.50,95.30,102.40,104.60,105.20,110.00,122.7
3,Tasas de variación interanual,-6.50,-2.10,3.90,-3.20,3.70,1.30,-7.00,-2.10,-0.60,-4.30,-10.40,..
4,Total de Emisiones de Gases Efecto Invernadero...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Valor: PER CÁPITA=Toneladas CO2 equivalent...,0.27,0.29,0.30,0.30,0.32,0.32,0.32,0.34,0.34,0.34,0.35,0.38
6,Índices de volumen encadenados (año 2015=100),84.40,91.30,95.10,94.10,100.00,100.30,100.70,107.10,106.00,105.40,109.90,117.1
7,Tasas de variación interanual,-7.50,-4.00,1.10,-5.90,-0.30,-0.40,-6.00,1.00,0.60,-4.10,-6.10,..