## GENERACION DE RESIDUOS

In [126]:
import pandas as pd
import numpy as np
import re

In [127]:
recoleccion = pd.read_excel("data/recogida_residuos.xls")

In [110]:
recoleccion.head()

,,2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,...,2010.8,2010.9,2010.10,2010.11,2010.12,2010.13,2010.14,2010.15,2010.16,2010.17
0,,Total nacional,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,...,Castilla - La Mancha,Cataluña,Comunitat Valenciana,Extremadura,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La"
1,10.1.1 Residuos domésticos y similares (domést...,17611068,3755593,475448,388505,672375,1128714,246839,915396,849572,...,968613,2441711,1869060,491529,1002349,2108673,711540,185635,694220,111409
2,10.1.2 Residuos domésticos voluminosos mezclad...,673495,153300,24205,15404,65140,25440,23336,17151,9959,...,31588,77627,59550,16706,23130,66879,15924,10709,24083,1276
3,06 Residuos metálicos,27875,1600,324,813,7982,2305,484,816,531,...,11221,13187,3290,1220,884,4273,817,1894,2402,0
4,07.1 Residuos de vidrio,834764,108768,18939,16425,40752,41243,11261,49557,21350,...,20887,186378,77146,8570,39096,82497,74000,16168,54075,6496

In [128]:
recoleccion_clean= recoleccion.T

In [129]:
#PASO LA PRIMERA COLUMNA PARA LUEGO CAMBIAR EL  NOMBRE
recoleccion_clean.columns = recoleccion_clean.iloc[0]
recoleccion_clean = recoleccion_clean[1:]

In [130]:
#RENAME COLUMNS 

new_names = {' ': 'Comunidad Autonoma', '10.1.1 Residuos domésticos y similares (domésticos y vías públicas)': 'Recoleccion-domésticos y vias', '10.1.2 Residuos domésticos voluminosos mezclados (enseres domésticos)': 'Recoleccion-voluminosos', '06 Residuos metálicos': 'Recoleccion-metálicos', '07.1 Residuos de vidrio': 'Recoleccion-vidrio', '07.2 Residuos de papel y cartón': 'Recoleccion-papel y carton', '07.4 Residuos de plásticos': 'Recoleccion-plasticos', '07.5 Residuos de Madera': 'Recoleccion-madera', '07.6 Residuos textiles': 'Recoleccion-textiles', '08.2 y 08.43 Equipos eléctricos desechados y Componentes de equipos eléctrónicos desechados': 'Recoleccion-eq. electricos', '08.41 Residuos de pilas y acumuladores': 'Recoleccion-pilas', '09. Residuos animales y vegetales': 'Recoleccion-animales', '10.21 Envases mixtos y embalajes mezclados': 'Recoleccion-Envases mixtos', '11 Lodos comunes (secos)': 'lodos', '12 Residuos minerales (incluye residuos de construcción y demolición)': 'Recoleccion-construccion', '18 Otros': 'Recoleccion-otros'}
recoleccion_clean.rename(columns=new_names, inplace=True)
recoleccion_clean.head()

,Comunidad Autonoma,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,Recoleccion-plasticos,Recoleccion-madera,Recoleccion-textiles,Recoleccion-eq. electricos,Recoleccion-pilas,Recoleccion-animales,Recoleccion-Envases mixtos,lodos,Recoleccion-construccion,Recoleccion-otros,TOTAL RESIDUOS MEZCLADOS,TOTAL RESIDUOS DE RECOGIDA SEPARADA,TOTAL RESIDUOS
2018,Total nacional,17611068,673495,27875,834764,1067384,24050,136153,40344,58733,1890,1010016,743556,0,472548,1891,18284563,4419204,22703767
2018.1,Andalucía,3755593,153300,1600,108768,117131,1677,12520,3269,5036,108,92395,94281,0,81204,374,3908893,518363,4427256
2018.2,Aragón,475448,24205,324,18939,28910,251,3276,571,1226,12,8503,19142,0,69649,2,499653,150805,650458
2018.3,"Asturias, Principado de",388505,15404,813,16425,41766,943,3534,1234,2260,21,4879,12696,0,12409,44,403909,97024,500933
2018.4,"Balears, Illes",672375,65140,7982,40752,54341,407,2752,742,5105,19,54262,35189,0,19402,19,737515,220972,958487

In [131]:
recoleccion_clean['Año'] = recoleccion_clean.index

In [132]:
# Se aplico un patron para arreglar la columna año

recoleccion_clean['Año_1'] = recoleccion_clean['Año'].str.extract(r'(\d{4})')

In [133]:
recoleccion_clean

,Comunidad Autonoma,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,Recoleccion-plasticos,Recoleccion-madera,Recoleccion-textiles,Recoleccion-eq. electricos,...,Recoleccion-animales,Recoleccion-Envases mixtos,lodos,Recoleccion-construccion,Recoleccion-otros,TOTAL RESIDUOS MEZCLADOS,TOTAL RESIDUOS DE RECOGIDA SEPARADA,TOTAL RESIDUOS,Año,Año_1
2018,Total nacional,17611068,673495,27875,834764,1067384,24050,136153,40344,58733,...,1010016,743556,0,472548,1891,18284563,4419204,22703767,2018,2018
2018.1,Andalucía,3755593,153300,1600,108768,117131,1677,12520,3269,5036,...,92395,94281,0,81204,374,3908893,518363,4427256,2018.1,2018
2018.2,Aragón,475448,24205,324,18939,28910,251,3276,571,1226,...,8503,19142,0,69649,2,499653,150805,650458,2018.2,2018
2018.3,"Asturias, Principado de",388505,15404,813,16425,41766,943,3534,1234,2260,...,4879,12696,0,12409,44,403909,97024,500933,2018.3,2018
2018.4,"Balears, Illes",672375,65140,7982,40752,54341,407,2752,742,5105,...,54262,35189,0,19402,19,737515,220972,958487,2018.4,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010.13,"Madrid, Comunidad de",2108673,66879,4273,82497,160181,38083,5555,317,10253,...,52720,141179,0,16930,17379,2175552,529660,2705212,2010.13,2010
2010.14,"Murcia, Región de",711540,15924,817,74000,22561,4404,871,46,1752,...,52953,13236,1,472,8708,727464,180039,907503,2010.14,2010
2010.15,"Navarra, Comunidad Foral de",185635,10709,1894,16168,30090,2512,4831,858,3626,...,27200,20135,2245,462,10661,196344,120800,317144,2010.15,2010
2010.16,País Vasco,694220,24083,2402,54075,169542,7922,22625,1097,2092,...,16071,31046,668,42783,7270,718303,357750,1076053,2010.16,2010
2010.17,"Rioja, La",111409,1276,0,6496,9187,0,1153,11,266,...,0,4717,0,0,1,112685,21838,134523,2010.17,2010

In [134]:
recoleccion_clean = recoleccion_clean.drop(columns=['Año'], axis=1)

In [135]:
#renombrar la columna Año_1 a año 
recoleccion_clean.rename(columns={'Año_1':'Año'}, inplace=True)

In [136]:
# traje la ultima columna al primer espacio
cols = recoleccion_clean.columns.tolist()
cols = cols[-1:] + cols[:-1]

In [122]:
# traje la ultima columna al primer espacio
recoleccion_db_clean = recoleccion_clean[cols]
recoleccion_db_clean

,Año,Comunidad Autonoma,Residuos domésticos y vias,Voluminosos,Metálicos,Vidrio,Papel y carton,Plasticos,Madera,Textiles,Equipos electricos,pilas,animales,Envases mixtos,lodos,construccion,Otros,TOTAL RESIDUOS MEZCLADOS,TOTAL RESIDUOS DE RECOGIDA SEPARADA,TOTAL RESIDUOS
2018,2018,Total nacional,17611068,673495,27875,834764,1067384,24050,136153,40344,58733,1890,1010016,743556,0,472548,1891,18284563,4419204,22703767
2018.1,2018,Andalucía,3755593,153300,1600,108768,117131,1677,12520,3269,5036,108,92395,94281,0,81204,374,3908893,518363,4427256
2018.2,2018,Aragón,475448,24205,324,18939,28910,251,3276,571,1226,12,8503,19142,0,69649,2,499653,150805,650458
2018.3,2018,"Asturias, Principado de",388505,15404,813,16425,41766,943,3534,1234,2260,21,4879,12696,0,12409,44,403909,97024,500933
2018.4,2018,"Balears, Illes",672375,65140,7982,40752,54341,407,2752,742,5105,19,54262,35189,0,19402,19,737515,220972,958487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010.13,2010,"Madrid, Comunidad de",2108673,66879,4273,82497,160181,38083,5555,317,10253,293,52720,141179,0,16930,17379,2175552,529660,2705212
2010.14,2010,"Murcia, Región de",711540,15924,817,74000,22561,4404,871,46,1752,218,52953,13236,1,472,8708,727464,180039,907503
2010.15,2010,"Navarra, Comunidad Foral de",185635,10709,1894,16168,30090,2512,4831,858,3626,118,27200,20135,2245,462,10661,196344,120800,317144
2010.16,2010,País Vasco,694220,24083,2402,54075,169542,7922,22625,1097,2092,157,16071,31046,668,42783,7270,718303,357750,1076053
2010.17,2010,"Rioja, La",111409,1276,0,6496,9187,0,1153,11,266,7,0,4717,0,0,1,112685,21838,134523

In [137]:
#reiniciar el index
recoleccion_db_clean = recoleccion_db_clean.reset_index(drop=True)

In [1]:
recoleccion_db_clean

NameError: name 'recoleccion_db_clean' is not defined

In [138]:
## GUARDAMOS LA BASE DE DATOS

recoleccion_db_clean.to_csv('recoleccion_clean.csv', index=False)