### GESTION DE RESIDUOS

In [2]:
import pandas as pd
import numpy as np
import re

In [18]:
gestion = pd.read_excel("data/residuos_gestionados.xls")

In [19]:
gestion.head()

,2018,2018.1,2018.2,2018.3,2018.4,2017,2017.1,2017.2,2017.3,2017.4,...,2011,2011.1,2011.2,2011.3,2011.4,2010,2010.1,2010.2,2010.3,2010.4
0,Recuperación,Operaciones de relleno,Vertido,Incineración,Total,Recuperación,Operaciones de relleno,Vertido,Incineración,Total,...,Recuperación,Operaciones de relleno,Vertido,Incineración,Total,Recuperación,Operaciones de relleno,Vertido,Incineración,Total
1,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,...,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn
2,47245057,12180380,58811441,3720678,121957556,44921844,4270531,62226693,4067227,115486295,...,53081624,6665117,49643268,3398695,112788703,TOTAL GENERAL tn,5713515,49464293,2934780,132687982

In [20]:
gestion_clean= gestion.T

In [21]:
#PASO LA PRIMERA COLUMNA PARA LUEGO CAMBIAR EL  NOMBRE
gestion_clean.columns = gestion_clean.iloc[0]
gestion_clean = gestion_clean[1:]

In [22]:
gestion_clean.head()

2018              Recuperación  TOTAL GENERAL  tn   47245057
2018.1  Operaciones de relleno  TOTAL GENERAL  tn   12180380
2018.2                 Vertido      TOTAL GENERAL   58811441
2018.3            Incineración  TOTAL GENERAL  tn    3720678
2018.4                   Total  TOTAL GENERAL  tn  121957556
2017              Recuperación  TOTAL GENERAL  tn   44921844

In [24]:
recoleccion = pd.read_csv("recoleccion_clean.csv")

In [25]:
recoleccion

,Año,Comunidad Autonoma,Residuos domésticos y vias,Voluminosos,Metálicos,Vidrio,Papel y carton,Plasticos,Madera,Textiles,Equipos electricos,pilas,animales,Envases mixtos,lodos,construccion,Otros,TOTAL RESIDUOS MEZCLADOS,TOTAL RESIDUOS DE RECOGIDA SEPARADA,TOTAL RESIDUOS
0,2018,Total nacional,17611068,673495,27875,834764,1067384,24050,136153,40344,58733,1890,1010016,743556,0,472548,1891,18284563,4419204,22703767
1,2018,Andalucía,3755593,153300,1600,108768,117131,1677,12520,3269,5036,108,92395,94281,0,81204,374,3908893,518363,4427256
2,2018,Aragón,475448,24205,324,18939,28910,251,3276,571,1226,12,8503,19142,0,69649,2,499653,150805,650458
3,2018,"Asturias, Principado de",388505,15404,813,16425,41766,943,3534,1234,2260,21,4879,12696,0,12409,44,403909,97024,500933
4,2018,"Balears, Illes",672375,65140,7982,40752,54341,407,2752,742,5105,19,54262,35189,0,19402,19,737515,220972,958487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,2010,"Madrid, Comunidad de",2108673,66879,4273,82497,160181,38083,5555,317,10253,293,52720,141179,0,16930,17379,2175552,529660,2705212
158,2010,"Murcia, Región de",711540,15924,817,74000,22561,4404,871,46,1752,218,52953,13236,1,472,8708,727464,180039,907503
159,2010,"Navarra, Comunidad Foral de",185635,10709,1894,16168,30090,2512,4831,858,3626,118,27200,20135,2245,462,10661,196344,120800,317144
160,2010,País Vasco,694220,24083,2402,54075,169542,7922,22625,1097,2092,157,16071,31046,668,42783,7270,718303,357750,1076053
161,2010,"Rioja, La",111409,1276,0,6496,9187,0,1153,11,266,7,0,4717,0,0,1,112685,21838,134523