## PIB

In [16]:
import pandas as pd
import numpy as np

In [42]:
#se puede leer el excel a partir de una fila que le digamos 
pib = pd.read_excel("data/PIBcorriente_milesdeeuros.xlsx", header=0)

In [20]:
## STEPS TO CLEAN
pib

,Comunidad Autónoma,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ANDALUCÍA,86568676,93709992,100949639,109668109,118493081,128578073,138535591,148025809,151226849,...,144752225,143389086,138007226,136048003,137722026,144745569,148405362,155371755,160711363,165865509
1,ARAGÓN,20071592,21577543,23368239,24975186,26638692,28663286,31098276,33853480,35141063,...,33828995,33368344,31963049,32082809,32289054,32876311,34214691,35638352,36850296,38043571
2,"ASTURIAS, PRINCIPADO DE",14305047,15409649,16299205,17208849,18299196,19843031,21562413,23105938,23844408,...,22733586,22375426,21364846,20746770,20652899,21372587,21694246,22592548,23258673,23765248
3,"BALEARS, ILLES",16545333,17870191,18874734,19795906,21120475,22790808,24689753,26461916,27574628,...,26535097,26398144,25979358,25931407,26769837,28245574,29831313,31383376,32767619,33799767
4,CANARIAS,26048646,28352782,30271685,32396850,34229642,36631532,39058508,41425115,42308705,...,40811481,40595330,39204779,39032454,39266705,40566240,42013704,44205400,45823321,47164165
5,CANTABRIA,7968169,8618734,9196317,9688157,10314344,11138852,11939798,12819428,13260788,...,12836685,12622706,12167280,11864241,12057567,12325933,12736089,13226038,13737756,14187412
6,CASTILLA Y LEÓN,35717613,38031539,40357850,42842365,45544681,48617553,51856568,55466217,56637995,...,54970431,54575008,52868471,51504174,51539425,53238351,54767172,56051831,58477225,59794929
7,CASTILLA - LA MANCHA,21744122,23641769,25423376,27577840,29556643,32301036,35198870,38370244,39926198,...,38706827,38258606,36890198,36153041,35353236,37113609,38315029,39891219,41521223,42820105
8,CATALUÑA,122427924,132653412,141546705,151491725,162355073,174408587,189001189,202380332,207716061,...,201705890,198906023,193449278,192006545,195370105,204355232,212703912,221476488,229345722,236813926
9,COMUNITAT VALENCIANA,62717924,68504386,73298081,78134696,83659062,90149555,97829436,104471495,107508471,...,101201463,99706759,95177430,94309154,96320641,100110751,103228580,107785815,111793978,116015335
10,EXTREMADURA,10750237,11516186,12264844,13121521,14030704,15264773,16306857,17564197,18249829,...,18135329,17738058,17065094,17057479,17024183,17902594,18504343,19534814,20088238,20677010
11,GALICIA,33464463,36054603,38484522,41192359,44312068,48048435,52068958,56108957,58358648,...,56767263,55767991,53971849,53925394,54190333,56666599,58279948,60394810,62436133,64429878
12,"MADRID, COMUNIDAD DE",114454953,124576514,133608749,143012097,153557325,165760054,180859334,193749322,201235501,...,197145571,198465261,195026853,192620202,194960214,204244524,211672686,222027547,231133592,240129959
13,"MURCIA, REGIÓN DE",15717410,17141718,18638319,20261446,21773122,23863104,25934032,27985381,29098291,...,27912742,27236069,26508820,26566278,26712051,28492083,29369879,30538493,31198376,32356061
14,"NAVARRA, COMUNIDAD FORAL DE",11177110,11918713,12718187,13529155,14431131,15517494,16661235,17766300,18517376,...,17973969,17942160,17282206,17237767,17505255,18145704,18747249,19528873,20047454,20973354
15,PAÍS VASCO,40789981,43595419,46029847,48585365,51724767,55666720,60233698,64281602,66779471,...,64680368,64130843,62558828,61625767,62677248,64989988,67126912,69657915,72029560,74495916
16,"RIOJA, LA",4900954,5242948,5542919,5998007,6362196,6851360,7410569,7946155,8247306,...,7977333,7907440,7636210,7539145,7685969,7962438,8014694,8295191,8593185,8867069
17,CEUTA,1017262,1051634,1107804,1183283,1250959,1323250,1419795,1512357,1562940,...,1578805,1575312,1525243,1551851,1543087,1597390,1636511,1659859,1720295,1765617
18,MELILLA,921312,953301,993232,1059665,1130075,1203682,1289507,1354257,1403440,...,1415709,1417774,1369832,1389601,1402792,1461285,1506101,1519867,1582540,1621435
19,EXTRA-REGIO,542272,571967,577746,543419,653764,735815,868613,890498,943032,...,1039231,1386660,1082150,1155918,1115373,1177238,1071579,1086809,1124451,1185734
20,Total Nacional,647851000,700993000,749552000,802266000,859437000,927357000,1003823000,1075539000,1109541000,...,1072709000,1063763000,1031099000,1020348000,1032158000,1077590000,1113840000,1161867000,1204241000,1244772000

In [10]:
#Elimine la primera fila

pib = pib.drop(labels=0, axis=0)

In [11]:
pib.head()

,Comunidad Autónoma,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,ANDALUCÍA,86568676,93709992,100949639,109668109,118493081,128578073,138535591,148025809,151226849,...,144752225,143389086,138007226,136048003,137722026,144745569,148405362,155371755,160711363,165865509
2,ARAGÓN,20071592,21577543,23368239,24975186,26638692,28663286,31098276,33853480,35141063,...,33828995,33368344,31963049,32082809,32289054,32876311,34214691,35638352,36850296,38043571
3,"ASTURIAS, PRINCIPADO DE",14305047,15409649,16299205,17208849,18299196,19843031,21562413,23105938,23844408,...,22733586,22375426,21364846,20746770,20652899,21372587,21694246,22592548,23258673,23765248
4,"BALEARS, ILLES",16545333,17870191,18874734,19795906,21120475,22790808,24689753,26461916,27574628,...,26535097,26398144,25979358,25931407,26769837,28245574,29831313,31383376,32767619,33799767
5,CANARIAS,26048646,28352782,30271685,32396850,34229642,36631532,39058508,41425115,42308705,...,40811481,40595330,39204779,39032454,39266705,40566240,42013704,44205400,45823321,47164165

In [27]:
#Cambia los años a columnas 

melt_pib = pd.melt(pib, id_vars=['Comunidad Autónoma'], value_vars=[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],var_name='Año', value_name='PIB').sort_values('Comunidad Autónoma')

In [34]:
melt_pib

    Comunidad Autónoma   Año         PIB
0            ANDALUCÍA  2000    86568676
63           ANDALUCÍA  2003   109668109
84           ANDALUCÍA  2004   118493081
105          ANDALUCÍA  2005   128578073
126          ANDALUCÍA  2006   138535591
..                 ...   ...         ...
314     Total Nacional  2014  1032158000
335     Total Nacional  2015  1077590000
356     Total Nacional  2016  1113840000
188     Total Nacional  2008  1109541000
419     Total Nacional  2019  1244772000

[420 rows x 3 columns]

In [37]:
#CHANGE TO CAPITALIZE ALL the column CCAA STR
melt_pib['Comunidad Autónoma'] = melt_pib['Comunidad Autónoma'].str.capitalize()

In [38]:
melt_pib

    Comunidad Autónoma   Año         PIB
0            Andalucía  2000    86568676
63           Andalucía  2003   109668109
84           Andalucía  2004   118493081
105          Andalucía  2005   128578073
126          Andalucía  2006   138535591
..                 ...   ...         ...
314     Total nacional  2014  1032158000
335     Total nacional  2015  1077590000
356     Total nacional  2016  1113840000
188     Total nacional  2008  1109541000
419     Total nacional  2019  1244772000

[420 rows x 3 columns]

In [39]:
#reiniciar el index
pib_clean = melt_pib.reset_index(drop=True)

In [41]:
## GUARDAMOS LA BASE DE DATOS

pib_clean.to_csv('pib_clean.csv', index=False)