## POBLACION

In [1]:
import pandas as pd
import numpy as np

In [21]:
poblacion = pd.read_excel("data/poblacion.xls", header=3)
poblacion

,Comunidad Autónoma,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996
0,01 Andalucía,8464411,8414240,8384408,8379820,8388107,8399043,8402305,8440300,8449985,...,7849799,7687518,7606848,7478432,7403968,7340052,7305117,7236459,,7234873
1,02 Aragón,1329391,1319291,1308728,1308750,1308563,1317847,1325385,1347150,1349467,...,1269027,1249584,1230090,1217514,1199753,1189909,1186849,1183234,,1187546
2,"03 Asturias, Principado de",1018784,1022800,1028244,1034960,1042608,1051229,1061756,1068165,1077360,...,1076635,1073761,1075381,1073971,1075329,1076567,1084314,1081834,,1087885
3,"04 Balears, Illes",1171543,1149460,1128908,1115999,1107220,1104479,1103442,1111674,1119439,...,983131,955045,947361,916968,878627,845630,821820,796483,,760379
4,05 Canarias,2175952,2153389,2127685,2108121,2101924,2100306,2104815,2118679,2118344,...,1968280,1915540,1894868,1843755,1781366,1716276,1672689,1630015,,1606534
5,06 Cantabria,582905,581078,580229,580295,582206,585179,588656,591888,593861,...,562309,554784,549690,542275,537606,531159,528478,527137,,527437
6,07 Castilla y León,2394918,2399548,2409164,2425801,2447519,2472052,2494790,2519875,2546078,...,2510849,2493918,2487646,2480369,2479425,2479118,2488062,2484603,,2508496
7,08 Castilla - La Mancha,2045221,2032863,2026807,2031479,2041631,2059191,2078611,2100998,2121888,...,1894667,1848881,1815781,1782038,1755053,1734261,1726199,1716152,,1712529
8,09 Cataluña,7780479,7675217,7600065,7555830,7522596,7508106,7518903,7553650,7570908,...,6995206,6813319,6704146,6506440,6361365,6261999,6207533,6147610,,6090040
9,10 Comunitat Valenciana,5057353,5003769,4963703,4941509,4959968,4980689,5004844,5113815,5129266,...,4692449,4543304,4470885,4326708,4202608,4120729,4066474,4023441,,4009329
10,11 Extremadura,1063987,1067710,1072863,1079920,1087778,1092997,1099632,1104004,1108130,...,1083879,1075286,1073904,1073050,1073381,1069420,1073574,1069419,,1070244
11,12 Galicia,2701819,2699499,2701743,2708339,2718525,2732347,2748695,2765940,2781498,...,2762198,2750985,2751094,2737370,2732926,2731900,2730337,2724544,,2742622
12,"13 Madrid, Comunidad de",6779888,6663394,6578079,6507184,6466996,6436996,6454440,6495551,6498560,...,5964143,5804829,5718942,5527152,5372433,5205408,5145325,5091336,,5022289
13,"14 Murcia, Región de",1511251,1493898,1478509,1470273,1464847,1467288,1466818,1472049,1474449,...,1335792,1294694,1269230,1226993,1190378,1149328,1131128,1115068,,1097249
14,"15 Navarra, Comunidad Foral de",661197,654214,647554,643234,640647,640476,640790,644477,644566,...,593472,584734,578210,569628,556263,543757,538009,530819,,520574
15,16 País Vasco,2220504,2207776,2199088,2194158,2189534,2189257,2188985,2191682,2193093,...,2124846,2115279,2112204,2108281,2101478,2098596,2100441,2098628,,2098055
16,"17 Rioja, La",319914,316798,315675,315381,315794,317053,319002,322027,323609,...,301084,293553,287390,281614,270400,264178,265178,263644,,264941
17,18 Ceuta,84202,84777,85144,84959,84519,84263,84963,84180,84018,...,75276,74654,74931,76152,75694,75241,73704,72117,,68796
18,19 Melilla,87076,86487,86384,86120,86026,85584,84509,83679,80802,...,65488,68016,68463,69184,68789,66263,56929,60108,,59576

In [22]:
## Elimino algunas columnas que no necesito. Hasta el 2010
to_drop  = ['2020','2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998', '1997', '1996']
poblacion.drop(to_drop, inplace = True , axis= 1 )

poblacion

,Comunidad Autónoma,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,01 Andalucía,8414240,8384408,8379820,8388107,8399043,8402305,8440300,8449985,8424102,8370975
1,02 Aragón,1319291,1308728,1308750,1308563,1317847,1325385,1347150,1349467,1346293,1347095
2,"03 Asturias, Principado de",1022800,1028244,1034960,1042608,1051229,1061756,1068165,1077360,1081487,1084341
3,"04 Balears, Illes",1149460,1128908,1115999,1107220,1104479,1103442,1111674,1119439,1113114,1106049
4,05 Canarias,2153389,2127685,2108121,2101924,2100306,2104815,2118679,2118344,2126769,2118519
5,06 Cantabria,581078,580229,580295,582206,585179,588656,591888,593861,593121,592250
6,07 Castilla y León,2399548,2409164,2425801,2447519,2472052,2494790,2519875,2546078,2558463,2559515
7,08 Castilla - La Mancha,2032863,2026807,2031479,2041631,2059191,2078611,2100998,2121888,2115334,2098373
8,09 Cataluña,7675217,7600065,7555830,7522596,7508106,7518903,7553650,7570908,7539618,7512381
9,10 Comunitat Valenciana,5003769,4963703,4941509,4959968,4980689,5004844,5113815,5129266,5117190,5111706
10,11 Extremadura,1067710,1072863,1079920,1087778,1092997,1099632,1104004,1108130,1109367,1107220
11,12 Galicia,2699499,2701743,2708339,2718525,2732347,2748695,2765940,2781498,2795422,2797653
12,"13 Madrid, Comunidad de",6663394,6578079,6507184,6466996,6436996,6454440,6495551,6498560,6489680,6458684
13,"14 Murcia, Región de",1493898,1478509,1470273,1464847,1467288,1466818,1472049,1474449,1470069,1461979
14,"15 Navarra, Comunidad Foral de",654214,647554,643234,640647,640476,640790,644477,644566,642051,636924
15,16 País Vasco,2207776,2199088,2194158,2189534,2189257,2188985,2191682,2193093,2184606,2178339
16,"17 Rioja, La",316798,315675,315381,315794,317053,319002,322027,323609,322955,322415
17,18 Ceuta,84777,85144,84959,84519,84263,84963,84180,84018,82376,80579
18,19 Melilla,86487,86384,86120,86026,85584,84509,83679,80802,78476,76034

In [27]:
#Cambia los años a columnas 

melt_poblacion = pd.melt(poblacion, id_vars=['Comunidad Autónoma'], value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', 2018, 2019],var_name='Año', value_name='Poblacion').sort_values('Comunidad Autónoma')

In [28]:
melt_poblacion

    Comunidad Autónoma   Año  Poblacion
0         01 Andalucía  2010    8370975
152       01 Andalucía  2018    8384408
133       01 Andalucía  2017    8379820
76        01 Andalucía  2014    8402305
95        01 Andalucía  2015    8399043
..                 ...   ...        ...
56          19 Melilla  2012      80802
37          19 Melilla  2011      78476
18          19 Melilla  2010      76034
170         19 Melilla  2018      86384
189         19 Melilla  2019      86487

[190 rows x 3 columns]

In [29]:
#reiniciar el index
poblacion_clean = melt_poblacion.reset_index(drop=True)

In [ ]:
## GUARDAMOS LA BASE DE DATOS

poblacion_clean.to_csv('poblacion_clean.csv', index=False)