### BASE DE DATOS GENERACIÓN DE ENERGÍA

#### Hay 2 bases de datos similares que voy a unir en este apartado: La base de datos general, y la que es por centro de tratamiento

In [2]:
import pandas as pd
import numpy as np

In [37]:
df_3 = pd.read_excel("data/Energia producida.xlsx")

In [38]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   H. Energía: Gas y Electricidad  19 non-null     object
 1   Unnamed: 1                      17 non-null     object
 2   Unnamed: 2                      17 non-null     object
 3   Unnamed: 3                      17 non-null     object
 4   Unnamed: 4                      0 non-null      float64
 5   Unnamed: 5                      1 non-null      float64
dtypes: float64(2), object(4)
memory usage: 1.2+ KB

In [12]:
# -Eliminar las filas de arriba y abajo que no sirven

df_3 = df_3.loc[4:20, :]
df_3

,H. Energía: Gas y Electricidad,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
4,NaN,Las Lomas,Las Dehesas,La Galiana,NaN,1.0
5,2004,228.501,-,103.790,NaN,NaN
6,2005,214.387,-,126.388,NaN,NaN
7,2006,215.980,-,109.528,NaN,NaN
8,2007,226.362,-,98.698,NaN,NaN
9,2008,224.660,-,82.034,NaN,NaN
10,2009,234.841,-,290.260,NaN,NaN
11,2010,236.160,-,68.359,NaN,NaN
12,2011,212.486,-,67.404,NaN,NaN
13,2012,183.642,-,65.693,NaN,NaN
14,2013,166.977,-,65.194,NaN,NaN
15,2014,145.163,-,61.850,NaN,NaN
16,2015,177.577,-,57.507,NaN,NaN
17,2016,189.727,5.264,50.324,NaN,NaN
18,2017,-,-,56.301,NaN,NaN
19,2018,222.922,14.911,65.850,NaN,NaN
20,2019,228.263,15.709,72.423,NaN,NaN

In [13]:
# Eliminamos las columnas NAN
df_3 = df_3.drop(columns=['Unnamed: 4','Unnamed: 5'], axis=1)

In [14]:
# -Cambiar de nombre a las columnas
df_3.columns = ['Año','Ene-gas-elec Las Lomas','Ene-gas-elec Las Dehesas', 'Ene-gas-elec La Galiana']
df_3.head()

,Año,Ene-gas-elec Las Lomas,Ene-gas-elec Las Dehesas,Ene-gas-elec La Galiana
4,NaN,Las Lomas,Las Dehesas,La Galiana
5,2004,228.501,-,103.790
6,2005,214.387,-,126.388
7,2006,215.980,-,109.528
8,2007,226.362,-,98.698

In [15]:
df_3_copy = df_3.drop([4],axis=0)

In [16]:
# Reiniciar el index

df_3_copy = df_3_copy.reset_index(drop = True)
df_3_copy

,Año,Ene-gas-elec Las Lomas,Ene-gas-elec Las Dehesas,Ene-gas-elec La Galiana
0,2004,228.501,-,103.790
1,2005,214.387,-,126.388
2,2006,215.980,-,109.528
3,2007,226.362,-,98.698
4,2008,224.660,-,82.034
5,2009,234.841,-,290.260
6,2010,236.160,-,68.359
7,2011,212.486,-,67.404
8,2012,183.642,-,65.693
9,2013,166.977,-,65.194
10,2014,145.163,-,61.850
11,2015,177.577,-,57.507
12,2016,189.727,5.264,50.324
13,2017,-,-,56.301
14,2018,222.922,14.911,65.850
15,2019,228.263,15.709,72.423

In [17]:
df_3_copy.columns = ['Año','Energia-Elec Las Lomas (MWh)','Compost-Las Dehesas (MWh)', 'Biogas-La Galiana (MWh)']

In [39]:
df_3_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           16 non-null     object
 1   Energia-Elec Las Lomas (MWh)  16 non-null     object
 2   Compost-Las Dehesas (MWh)     16 non-null     object
 3   Biogas-La Galiana (MWh)       16 non-null     object
dtypes: object(4)
memory usage: 640.0+ bytes

In [19]:
df_4 = pd.read_excel("data/Produccion de energia (MWh).xlsx")

In [40]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 5 to 18
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Año     14 non-null     object
 1   2004    14 non-null     object
 2   2005    14 non-null     object
 3   2006    14 non-null     object
 4   2007    14 non-null     object
 5   2008    14 non-null     object
 6   2009    14 non-null     object
 7   2010    14 non-null     object
 8   2011    14 non-null     object
 9   2012    14 non-null     object
 10  2013    14 non-null     object
 11  2014    14 non-null     object
 12  2015    14 non-null     object
 13  2016    14 non-null     float64
 14  2017    14 non-null     float64
 15  2018    14 non-null     float64
 16  2019    14 non-null     float64
dtypes: float64(4), object(13)
memory usage: 2.5+ KB

In [21]:
df_4 = df_4.loc[4:18, :]
df_4

,Medio Ambiente,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
4,NaN,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016.000,2017.000,2018.000,2019.000
5,Valoración energética (incineración). Energía ...,228.501,214.388,215.980,226.362,224.660,234.841,236.160,212.486,183.642,166.977,145.163,177.577,189.727,197.562,222.922,228.263
6,Valoración energética (incineración). Energía ...,173.377,162.956,155.725,161.707,162.088,170.014,171.601,153.630,-,-,102.530,125.780,135.524,139.881,163.019,166.608
7,Valoración energética (incineración). Energía ...,55.124,51.432,60.255,64.655,62.572,-,-,58.856,53.450,49.640,42.633,51.797,54.202,57.681,59.903,61.655
8,Otra producción de energía (biogás). Total,103.790,126.389,109.529,98.698,82.034,-,-,-,-,-,61.851,57.508,50.324,56.301,65.850,72.423
9,Otra energía producida. Biogás vertedero Valde...,98.271,85.615,78.455,75.422,70.300,66.480,65.141,62.705,61.276,61.145,58.397,55.946,47.709,52.938,62.276,69.462
10,Otra energía producida. Gas natural,2.713,34.559,26.944,18.718,7.396,6.158,1.017,0,23,13,0,0,0.000,88.000,0.000,0.000
11,Otra energía producida. Cogeneración,2.806,6.215,4.130,4.558,4.338,3.688,2.201,4.699,4.394,4.035,3.454,1.562,2.614,3.275,3.573,2.960
12,Otra energía producida. Ventas,95.486,116.277,100.250,90.507,75.471,69.457,62.207,60.734,59.781,59.193,56.284,52.035,45.794,50.378,59.558,65.573
13,Otra energía producida. Autoconsumo,8.303,10.111,9.278,8.181,6.563,6.869,6.152,6.670,5.912,6.001,5.567,5.473,4.529,5.923,6.292,6.849
14,Otra energía producida. Biogás vertedero Las D...,-,-,-,-,-,-,-,-,-,-,-,-,5.264,13.990,14.911,15.709
15,Otra energía producida. Biogás vertedero Las D...,-,-,-,-,-,-,-,-,-,-,-,-,5.264,13.990,14.911,15.709
16,Otra energía producida. Ventas,-,-,-,-,-,-,-,-,-,-,-,-,2.750,8.185,8.449,7.747
17,Otra energía producida. Autoconsumo,-,-,-,-,-,-,-,-,-,-,-,-,2.514,5.805,6.461,7.962
18,Otra energía producida. Biometano inyectado a ...,-,-,-,-,-,-,-,-,-,-,-,61.089,74.958,91.857,95.617,100.276

In [22]:
#Cambiar el nombre de las columnas 

df_4.columns = ['Año', '2004',	'2005',	'2006',	'2007',	'2008',	'2009',	'2010',	'2011',	'2012',	'2013',	'2014',	'2015',	'2016',	'2017',	'2018',	'2019']

In [23]:
df_4 = df_4.drop([4])

In [41]:
df_4

,Año,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
5,Valoración energética (incineración). Energía ...,228.501,214.388,215.980,226.362,224.660,234.841,236.160,212.486,183.642,166.977,145.163,177.577,189.727,197.562,222.922,228.263
6,Valoración energética (incineración). Energía ...,173.377,162.956,155.725,161.707,162.088,170.014,171.601,153.630,-,-,102.530,125.780,135.524,139.881,163.019,166.608
7,Valoración energética (incineración). Energía ...,55.124,51.432,60.255,64.655,62.572,-,-,58.856,53.450,49.640,42.633,51.797,54.202,57.681,59.903,61.655
8,Otra producción de energía (biogás). Total,103.790,126.389,109.529,98.698,82.034,-,-,-,-,-,61.851,57.508,50.324,56.301,65.850,72.423
9,Otra energía producida. Biogás vertedero Valde...,98.271,85.615,78.455,75.422,70.300,66.480,65.141,62.705,61.276,61.145,58.397,55.946,47.709,52.938,62.276,69.462
10,Otra energía producida. Gas natural,2.713,34.559,26.944,18.718,7.396,6.158,1.017,0,23,13,0,0,0.000,88.000,0.000,0.000
11,Otra energía producida. Cogeneración,2.806,6.215,4.130,4.558,4.338,3.688,2.201,4.699,4.394,4.035,3.454,1.562,2.614,3.275,3.573,2.960
12,Otra energía producida. Ventas,95.486,116.277,100.250,90.507,75.471,69.457,62.207,60.734,59.781,59.193,56.284,52.035,45.794,50.378,59.558,65.573
13,Otra energía producida. Autoconsumo,8.303,10.111,9.278,8.181,6.563,6.869,6.152,6.670,5.912,6.001,5.567,5.473,4.529,5.923,6.292,6.849
14,Otra energía producida. Biogás vertedero Las D...,-,-,-,-,-,-,-,-,-,-,-,-,5.264,13.990,14.911,15.709
15,Otra energía producida. Biogás vertedero Las D...,-,-,-,-,-,-,-,-,-,-,-,-,5.264,13.990,14.911,15.709
16,Otra energía producida. Ventas,-,-,-,-,-,-,-,-,-,-,-,-,2.750,8.185,8.449,7.747
17,Otra energía producida. Autoconsumo,-,-,-,-,-,-,-,-,-,-,-,-,2.514,5.805,6.461,7.962
18,Otra energía producida. Biometano inyectado a ...,-,-,-,-,-,-,-,-,-,-,-,61.089,74.958,91.857,95.617,100.276

In [25]:

df_4_copy = df_4.reset_index(drop = True)
df_4_copy

,Año,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Valoración energética (incineración). Energía ...,228.501,214.388,215.980,226.362,224.660,234.841,236.160,212.486,183.642,166.977,145.163,177.577,189.727,197.562,222.922,228.263
1,Valoración energética (incineración). Energía ...,173.377,162.956,155.725,161.707,162.088,170.014,171.601,153.630,-,-,102.530,125.780,135.524,139.881,163.019,166.608
2,Valoración energética (incineración). Energía ...,55.124,51.432,60.255,64.655,62.572,-,-,58.856,53.450,49.640,42.633,51.797,54.202,57.681,59.903,61.655
3,Otra producción de energía (biogás). Total,103.790,126.389,109.529,98.698,82.034,-,-,-,-,-,61.851,57.508,50.324,56.301,65.850,72.423
4,Otra energía producida. Biogás vertedero Valde...,98.271,85.615,78.455,75.422,70.300,66.480,65.141,62.705,61.276,61.145,58.397,55.946,47.709,52.938,62.276,69.462
5,Otra energía producida. Gas natural,2.713,34.559,26.944,18.718,7.396,6.158,1.017,0,23,13,0,0,0.000,88.000,0.000,0.000
6,Otra energía producida. Cogeneración,2.806,6.215,4.130,4.558,4.338,3.688,2.201,4.699,4.394,4.035,3.454,1.562,2.614,3.275,3.573,2.960
7,Otra energía producida. Ventas,95.486,116.277,100.250,90.507,75.471,69.457,62.207,60.734,59.781,59.193,56.284,52.035,45.794,50.378,59.558,65.573
8,Otra energía producida. Autoconsumo,8.303,10.111,9.278,8.181,6.563,6.869,6.152,6.670,5.912,6.001,5.567,5.473,4.529,5.923,6.292,6.849
9,Otra energía producida. Biogás vertedero Las D...,-,-,-,-,-,-,-,-,-,-,-,-,5.264,13.990,14.911,15.709
10,Otra energía producida. Biogás vertedero Las D...,-,-,-,-,-,-,-,-,-,-,-,-,5.264,13.990,14.911,15.709
11,Otra energía producida. Ventas,-,-,-,-,-,-,-,-,-,-,-,-,2.750,8.185,8.449,7.747
12,Otra energía producida. Autoconsumo,-,-,-,-,-,-,-,-,-,-,-,-,2.514,5.805,6.461,7.962
13,Otra energía producida. Biometano inyectado a ...,-,-,-,-,-,-,-,-,-,-,-,61.089,74.958,91.857,95.617,100.276

In [26]:
#SOLO TRASPOST
df_energia = df_4.T

In [42]:
df_energia.columns

Index(['Valoración energética (incineración). Energía producida. Total',
       'Valoración energética (incineración). Energía producida. Ventas',
       'Valoración energética (incineración). Energía producida. Autoconsumo',
       'Otra producción de energía (biogás). Total',
       'Otra energía producida. Biogás vertedero Valdemingómez',
       'Otra energía producida. Gas natural',
       'Otra energía producida. Cogeneración',
       'Otra energía producida. Ventas', 'Otra energía producida. Autoconsumo',
       'Otra energía producida. Biogás vertedero Las Dehesas. Total',
       'Otra energía producida. Biogás vertedero Las Dehesas',
       'Otra energía producida. Ventas', 'Otra energía producida. Autoconsumo',
       'Otra energía producida. Biometano inyectado a la red gasista.'],
      dtype='object', name='Año')

In [27]:
df_energia_copy = df_energia.reset_index(drop = True)

In [28]:
df_energia_copy = df_energia_copy.rename_axis('index')

In [29]:
df_energia_copy.rename(columns={'Años':'Año'},inplace=True)

In [30]:
df_energia_copy.columns

Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

In [31]:
df_energia_copy

,5,6,7,8,9,10,11,12,13,14,15,16,17,18
index,,,,,,,,,,,,,,
0,Valoración energética (incineración). Energía ...,Valoración energética (incineración). Energía ...,Valoración energética (incineración). Energía ...,Otra producción de energía (biogás). Total,Otra energía producida. Biogás vertedero Valde...,Otra energía producida. Gas natural,Otra energía producida. Cogeneración,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biogás vertedero Las D...,Otra energía producida. Biogás vertedero Las D...,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biometano inyectado a ...
1,228.501,173.377,55.124,103.790,98.271,2.713,2.806,95.486,8.303,-,-,-,-,-
2,214.388,162.956,51.432,126.389,85.615,34.559,6.215,116.277,10.111,-,-,-,-,-
3,215.980,155.725,60.255,109.529,78.455,26.944,4.130,100.250,9.278,-,-,-,-,-
4,226.362,161.707,64.655,98.698,75.422,18.718,4.558,90.507,8.181,-,-,-,-,-
5,224.660,162.088,62.572,82.034,70.300,7.396,4.338,75.471,6.563,-,-,-,-,-
6,234.841,170.014,-,-,66.480,6.158,3.688,69.457,6.869,-,-,-,-,-
7,236.160,171.601,-,-,65.141,1.017,2.201,62.207,6.152,-,-,-,-,-
8,212.486,153.630,58.856,-,62.705,0,4.699,60.734,6.670,-,-,-,-,-
9,183.642,-,53.450,-,61.276,23,4.394,59.781,5.912,-,-,-,-,-
10,166.977,-,49.640,-,61.145,13,4.035,59.193,6.001,-,-,-,-,-
11,145.163,102.530,42.633,61.851,58.397,0,3.454,56.284,5.567,-,-,-,-,-
12,177.577,125.780,51.797,57.508,55.946,0,1.562,52.035,5.473,-,-,-,-,61.089
13,189.727,135.524,54.202,50.324,47.709,0.0,2.614,45.794,4.529,5.264,5.264,2.75,2.514,74.958
14,197.562,139.881,57.681,56.301,52.938,88.0,3.275,50.378,5.923,13.99,13.99,8.185,5.805,91.857
15,222.922,163.019,59.903,65.85,62.276,0.0,3.573,59.558,6.292,14.911,14.911,8.449,6.461,95.617
16,228.263,166.608,61.655,72.423,69.462,0.0,2.96,65.573,6.849,15.709,15.709,7.747,7.962,100.276

In [32]:
df_energia.columns = df_energia.iloc[0]

In [33]:
df_energia = df_energia[1:]

In [51]:
df_energia['index'] = df_energia.index

In [54]:
df_energia= df_energia.reset_index(drop = True)

In [56]:
df_energia.rename(columns={'index':'Año'},inplace=True)

In [55]:
df_energia

Año,Valoración energética (incineración). Energía producida. Total,Valoración energética (incineración). Energía producida. Ventas,Valoración energética (incineración). Energía producida. Autoconsumo,Otra producción de energía (biogás). Total,Otra energía producida. Biogás vertedero Valdemingómez,Otra energía producida. Gas natural,Otra energía producida. Cogeneración,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biogás vertedero Las Dehesas. Total,Otra energía producida. Biogás vertedero Las Dehesas,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biometano inyectado a la red gasista.,index
0,228.501,173.377,55.124,103.790,98.271,2.713,2.806,95.486,8.303,-,-,-,-,-,2004
1,214.388,162.956,51.432,126.389,85.615,34.559,6.215,116.277,10.111,-,-,-,-,-,2005
2,215.980,155.725,60.255,109.529,78.455,26.944,4.130,100.250,9.278,-,-,-,-,-,2006
3,226.362,161.707,64.655,98.698,75.422,18.718,4.558,90.507,8.181,-,-,-,-,-,2007
4,224.660,162.088,62.572,82.034,70.300,7.396,4.338,75.471,6.563,-,-,-,-,-,2008
5,234.841,170.014,-,-,66.480,6.158,3.688,69.457,6.869,-,-,-,-,-,2009
6,236.160,171.601,-,-,65.141,1.017,2.201,62.207,6.152,-,-,-,-,-,2010
7,212.486,153.630,58.856,-,62.705,0,4.699,60.734,6.670,-,-,-,-,-,2011
8,183.642,-,53.450,-,61.276,23,4.394,59.781,5.912,-,-,-,-,-,2012
9,166.977,-,49.640,-,61.145,13,4.035,59.193,6.001,-,-,-,-,-,2013
10,145.163,102.530,42.633,61.851,58.397,0,3.454,56.284,5.567,-,-,-,-,-,2014
11,177.577,125.780,51.797,57.508,55.946,0,1.562,52.035,5.473,-,-,-,-,61.089,2015
12,189.727,135.524,54.202,50.324,47.709,0.0,2.614,45.794,4.529,5.264,5.264,2.75,2.514,74.958,2016
13,197.562,139.881,57.681,56.301,52.938,88.0,3.275,50.378,5.923,13.99,13.99,8.185,5.805,91.857,2017
14,222.922,163.019,59.903,65.85,62.276,0.0,3.573,59.558,6.292,14.911,14.911,8.449,6.461,95.617,2018
15,228.263,166.608,61.655,72.423,69.462,0.0,2.96,65.573,6.849,15.709,15.709,7.747,7.962,100.276,2019

In [53]:
df_energia.columns

Index(['Valoración energética (incineración). Energía producida. Total',
       'Valoración energética (incineración). Energía producida. Ventas',
       'Valoración energética (incineración). Energía producida. Autoconsumo',
       'Otra producción de energía (biogás). Total',
       'Otra energía producida. Biogás vertedero Valdemingómez',
       'Otra energía producida. Gas natural',
       'Otra energía producida. Cogeneración',
       'Otra energía producida. Ventas', 'Otra energía producida. Autoconsumo',
       'Otra energía producida. Biogás vertedero Las Dehesas. Total',
       'Otra energía producida. Biogás vertedero Las Dehesas',
       'Otra energía producida. Ventas', 'Otra energía producida. Autoconsumo',
       'Otra energía producida. Biometano inyectado a la red gasista.',
       'index'],
      dtype='object', name='Año')

In [52]:
df_energia

Año,Valoración energética (incineración). Energía producida. Total,Valoración energética (incineración). Energía producida. Ventas,Valoración energética (incineración). Energía producida. Autoconsumo,Otra producción de energía (biogás). Total,Otra energía producida. Biogás vertedero Valdemingómez,Otra energía producida. Gas natural,Otra energía producida. Cogeneración,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biogás vertedero Las Dehesas. Total,Otra energía producida. Biogás vertedero Las Dehesas,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biometano inyectado a la red gasista.,index
2004,228.501,173.377,55.124,103.790,98.271,2.713,2.806,95.486,8.303,-,-,-,-,-,2004
2005,214.388,162.956,51.432,126.389,85.615,34.559,6.215,116.277,10.111,-,-,-,-,-,2005
2006,215.980,155.725,60.255,109.529,78.455,26.944,4.130,100.250,9.278,-,-,-,-,-,2006
2007,226.362,161.707,64.655,98.698,75.422,18.718,4.558,90.507,8.181,-,-,-,-,-,2007
2008,224.660,162.088,62.572,82.034,70.300,7.396,4.338,75.471,6.563,-,-,-,-,-,2008
2009,234.841,170.014,-,-,66.480,6.158,3.688,69.457,6.869,-,-,-,-,-,2009
2010,236.160,171.601,-,-,65.141,1.017,2.201,62.207,6.152,-,-,-,-,-,2010
2011,212.486,153.630,58.856,-,62.705,0,4.699,60.734,6.670,-,-,-,-,-,2011
2012,183.642,-,53.450,-,61.276,23,4.394,59.781,5.912,-,-,-,-,-,2012
2013,166.977,-,49.640,-,61.145,13,4.035,59.193,6.001,-,-,-,-,-,2013
2014,145.163,102.530,42.633,61.851,58.397,0,3.454,56.284,5.567,-,-,-,-,-,2014
2015,177.577,125.780,51.797,57.508,55.946,0,1.562,52.035,5.473,-,-,-,-,61.089,2015
2016,189.727,135.524,54.202,50.324,47.709,0.0,2.614,45.794,4.529,5.264,5.264,2.75,2.514,74.958,2016
2017,197.562,139.881,57.681,56.301,52.938,88.0,3.275,50.378,5.923,13.99,13.99,8.185,5.805,91.857,2017
2018,222.922,163.019,59.903,65.85,62.276,0.0,3.573,59.558,6.292,14.911,14.911,8.449,6.461,95.617,2018
2019,228.263,166.608,61.655,72.423,69.462,0.0,2.96,65.573,6.849,15.709,15.709,7.747,7.962,100.276,2019

In [45]:
df_3_copy.columns

Index(['Año', 'Energia-Elec Las Lomas (MWh)', 'Compost-Las Dehesas (MWh)',
       'Biogas-La Galiana (MWh)'],
      dtype='object')

In [57]:
join_energia = pd.merge(df_3_copy, df_energia, on='Año', how='outer')

In [58]:
## AMBAS BASES DE DATOS DE ENERGIA UNIDAS

join_energia

,Año,Energia-Elec Las Lomas (MWh),Compost-Las Dehesas (MWh),Biogas-La Galiana (MWh),Valoración energética (incineración). Energía producida. Total,Valoración energética (incineración). Energía producida. Ventas,Valoración energética (incineración). Energía producida. Autoconsumo,Otra producción de energía (biogás). Total,Otra energía producida. Biogás vertedero Valdemingómez,Otra energía producida. Gas natural,Otra energía producida. Cogeneración,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biogás vertedero Las Dehesas. Total,Otra energía producida. Biogás vertedero Las Dehesas,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biometano inyectado a la red gasista.
0,2004,228.501,-,103.790,228.501,173.377,55.124,103.790,98.271,2.713,2.806,95.486,8.303,-,-,-,-,-
1,2005,214.387,-,126.388,214.388,162.956,51.432,126.389,85.615,34.559,6.215,116.277,10.111,-,-,-,-,-
2,2006,215.980,-,109.528,215.980,155.725,60.255,109.529,78.455,26.944,4.130,100.250,9.278,-,-,-,-,-
3,2007,226.362,-,98.698,226.362,161.707,64.655,98.698,75.422,18.718,4.558,90.507,8.181,-,-,-,-,-
4,2008,224.660,-,82.034,224.660,162.088,62.572,82.034,70.300,7.396,4.338,75.471,6.563,-,-,-,-,-
5,2009,234.841,-,290.260,234.841,170.014,-,-,66.480,6.158,3.688,69.457,6.869,-,-,-,-,-
6,2010,236.160,-,68.359,236.160,171.601,-,-,65.141,1.017,2.201,62.207,6.152,-,-,-,-,-
7,2011,212.486,-,67.404,212.486,153.630,58.856,-,62.705,0,4.699,60.734,6.670,-,-,-,-,-
8,2012,183.642,-,65.693,183.642,-,53.450,-,61.276,23,4.394,59.781,5.912,-,-,-,-,-
9,2013,166.977,-,65.194,166.977,-,49.640,-,61.145,13,4.035,59.193,6.001,-,-,-,-,-
10,2014,145.163,-,61.850,145.163,102.530,42.633,61.851,58.397,0,3.454,56.284,5.567,-,-,-,-,-
11,2015,177.577,-,57.507,177.577,125.780,51.797,57.508,55.946,0,1.562,52.035,5.473,-,-,-,-,61.089
12,2016,189.727,5.264,50.324,189.727,135.524,54.202,50.324,47.709,0.0,2.614,45.794,4.529,5.264,5.264,2.75,2.514,74.958
13,2017,-,-,56.301,197.562,139.881,57.681,56.301,52.938,88.0,3.275,50.378,5.923,13.99,13.99,8.185,5.805,91.857
14,2018,222.922,14.911,65.850,222.922,163.019,59.903,65.85,62.276,0.0,3.573,59.558,6.292,14.911,14.911,8.449,6.461,95.617
15,2019,228.263,15.709,72.423,228.263,166.608,61.655,72.423,69.462,0.0,2.96,65.573,6.849,15.709,15.709,7.747,7.962,100.276

In [5]:
#IMPORTAR BASE DE DATOS PIB 
pib = pd.read_excel("data/PIB de Madrid.xls")

In [7]:
pib = pib.drop(columns=['Producto Interior Bruto (precios de mercado)-BARCELONA'], axis=1)

In [59]:
join_Madrid = pd.merge(join_energia, pib, on='Año', how='outer')

In [63]:
join_Madrid

,Año,Energia-Elec Las Lomas (MWh),Compost-Las Dehesas (MWh),Biogas-La Galiana (MWh),Valoración energética (incineración). Energía producida. Total,Valoración energética (incineración). Energía producida. Ventas,Valoración energética (incineración). Energía producida. Autoconsumo,Otra producción de energía (biogás). Total,Otra energía producida. Biogás vertedero Valdemingómez,Otra energía producida. Gas natural,Otra energía producida. Cogeneración,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biogás vertedero Las Dehesas. Total,Otra energía producida. Biogás vertedero Las Dehesas,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biometano inyectado a la red gasista.,Producto Interior Bruto (precios de mercado)-MADRID
0,2004,228.501,-,103.790,228.501,173.377,55.124,103.790,98.271,2.713,2.806,95.486,8.303,-,-,-,-,-,100.151.266
1,2005,214.387,-,126.388,214.388,162.956,51.432,126.389,85.615,34.559,6.215,116.277,10.111,-,-,-,-,-,108.615.451
2,2006,215.980,-,109.528,215.980,155.725,60.255,109.529,78.455,26.944,4.130,100.250,9.278,-,-,-,-,-,118.013.261
3,2007,226.362,-,98.698,226.362,161.707,64.655,98.698,75.422,18.718,4.558,90.507,8.181,-,-,-,-,-,125.854.365
4,2008,224.660,-,82.034,224.660,162.088,62.572,82.034,70.300,7.396,4.338,75.471,6.563,-,-,-,-,-,129.237.456
5,2009,234.841,-,290.260,234.841,170.014,-,-,66.480,6.158,3.688,69.457,6.869,-,-,-,-,-,124.754.182
6,2010,236.160,-,68.359,236.160,171.601,-,-,65.141,1.017,2.201,62.207,6.152,-,-,-,-,-,125.338.754
7,2011,212.486,-,67.404,212.486,153.630,58.856,-,62.705,0,4.699,60.734,6.670,-,-,-,-,-,126.617.954
8,2012,183.642,-,65.693,183.642,-,53.450,-,61.276,23,4.394,59.781,5.912,-,-,-,-,-,124.447.012
9,2013,166.977,-,65.194,166.977,-,49.640,-,61.145,13,4.035,59.193,6.001,-,-,-,-,-,122.380.242
10,2014,145.163,-,61.850,145.163,102.530,42.633,61.851,58.397,0,3.454,56.284,5.567,-,-,-,-,-,124.151.611
11,2015,177.577,-,57.507,177.577,125.780,51.797,57.508,55.946,0,1.562,52.035,5.473,-,-,-,-,61.089,129.262.420
12,2016,189.727,5.264,50.324,189.727,135.524,54.202,50.324,47.709,0.0,2.614,45.794,4.529,5.264,5.264,2.75,2.514,74.958,NaN
13,2017,-,-,56.301,197.562,139.881,57.681,56.301,52.938,88.0,3.275,50.378,5.923,13.99,13.99,8.185,5.805,91.857,NaN
14,2018,222.922,14.911,65.850,222.922,163.019,59.903,65.85,62.276,0.0,3.573,59.558,6.292,14.911,14.911,8.449,6.461,95.617,NaN
15,2019,228.263,15.709,72.423,228.263,166.608,61.655,72.423,69.462,0.0,2.96,65.573,6.849,15.709,15.709,7.747,7.962,100.276,NaN
16,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134.274.764
17,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.886.566
18,2018 (p),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.300.029
19,2019 (1º e),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.580.978

In [62]:
# GUARDAR LA BASE DE DATOS LIMPIA PARA AGRUPAR UNA NUEVA
join_Madrid.to_csv('bd_cleaned_unida_Madrid.csv', index=False)

In [73]:
join_Madrid

,Año,Energia-Elec Las Lomas (MWh),Compost-Las Dehesas (MWh),Biogas-La Galiana (MWh),Valoración energética (incineración). Energía producida. Total,Valoración energética (incineración). Energía producida. Ventas,Valoración energética (incineración). Energía producida. Autoconsumo,Otra producción de energía (biogás). Total,Otra energía producida. Biogás vertedero Valdemingómez,Otra energía producida. Gas natural,Otra energía producida. Cogeneración,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biogás vertedero Las Dehesas. Total,Otra energía producida. Biogás vertedero Las Dehesas,Otra energía producida. Ventas,Otra energía producida. Autoconsumo,Otra energía producida. Biometano inyectado a la red gasista.,Producto Interior Bruto (precios de mercado)-MADRID
0,2004,228.501,-,103.790,228.501,173.377,55.124,103.790,98.271,2.713,2.806,95.486,8.303,-,-,-,-,-,100.151.266
1,2005,214.387,-,126.388,214.388,162.956,51.432,126.389,85.615,34.559,6.215,116.277,10.111,-,-,-,-,-,108.615.451
2,2006,215.980,-,109.528,215.980,155.725,60.255,109.529,78.455,26.944,4.130,100.250,9.278,-,-,-,-,-,118.013.261
3,2007,226.362,-,98.698,226.362,161.707,64.655,98.698,75.422,18.718,4.558,90.507,8.181,-,-,-,-,-,125.854.365
4,2008,224.660,-,82.034,224.660,162.088,62.572,82.034,70.300,7.396,4.338,75.471,6.563,-,-,-,-,-,129.237.456
5,2009,234.841,-,290.260,234.841,170.014,-,-,66.480,6.158,3.688,69.457,6.869,-,-,-,-,-,124.754.182
6,2010,236.160,-,68.359,236.160,171.601,-,-,65.141,1.017,2.201,62.207,6.152,-,-,-,-,-,125.338.754
7,2011,212.486,-,67.404,212.486,153.630,58.856,-,62.705,0,4.699,60.734,6.670,-,-,-,-,-,126.617.954
8,2012,183.642,-,65.693,183.642,-,53.450,-,61.276,23,4.394,59.781,5.912,-,-,-,-,-,124.447.012
9,2013,166.977,-,65.194,166.977,-,49.640,-,61.145,13,4.035,59.193,6.001,-,-,-,-,-,122.380.242
10,2014,145.163,-,61.850,145.163,102.530,42.633,61.851,58.397,0,3.454,56.284,5.567,-,-,-,-,-,124.151.611
11,2015,177.577,-,57.507,177.577,125.780,51.797,57.508,55.946,0,1.562,52.035,5.473,-,-,-,-,61.089,129.262.420
12,2016,189.727,5.264,50.324,189.727,135.524,54.202,50.324,47.709,0.0,2.614,45.794,4.529,5.264,5.264,2.75,2.514,74.958,NaN
13,2017,-,-,56.301,197.562,139.881,57.681,56.301,52.938,88.0,3.275,50.378,5.923,13.99,13.99,8.185,5.805,91.857,NaN
14,2018,222.922,14.911,65.850,222.922,163.019,59.903,65.85,62.276,0.0,3.573,59.558,6.292,14.911,14.911,8.449,6.461,95.617,NaN
15,2019,228.263,15.709,72.423,228.263,166.608,61.655,72.423,69.462,0.0,2.96,65.573,6.849,15.709,15.709,7.747,7.962,100.276,NaN
16,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134.274.764
17,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.886.566
18,2018 (p),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.300.029
19,2019 (1º e),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.580.978

In [65]:
#IMPORTAR BASE DE DATOS PIB 
genera_resid = pd.read_excel("data/Evolución de los residuos urbanos domiciliarios en la ciudad de Madrid.xls")

In [69]:
join_Madrid_2 = pd.merge(join_Madrid, genera_resid, on='Año', how='outer')

In [71]:
genera_resid

     Año Toneladas de residuos Población a 1 de enero Kg por habitante
0   2004          1.229.134,38              3.162.304           388,68
1   2005          1.285.639,32              3.167.424           405,89
2   2006          1.280.812,64              3.205.334           399,59
3   2007             1.294.156              3.187.062           406,07
4   2008             1.266.657              3.238.208           391,16
5   2009          1.185.119,40              3.273.006           362,09
6   2010          1.145.556,30              3.284.110           348,82
7   2011             1.098.367              3.269.861           335,91
8   2012          1.046.586,16              3.237.937           323,23
9   2013          1.007.986,46              3.215.633           313,46
10  2014             1.011.987              3.166.130           319,63
11  2015          1.025.199,36              3.141.991           326,29
12  2016             1.031.730              3.165.883           325,89
13  2017          1.144.984,08              3.182.175           359,81
14  2018          1.204.110,24              3.221.824           373,74
15  2019             1.192.032              3.266.126           364,97

In [67]:
genera_materiales = pd.read_excel("data/Evolución de materiales recuperados, compost y rechazos.xls")

In [68]:
genera_materiales

,Medio Ambiente,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Residuos sólidos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.4.10. Evolución de los materiales reciclable...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2004,2005,2006,2007,2008,2009,2010.000,2011.000,2012.000,2013.000,2014.000,2015.000,2016.000,2017.000,2018.000,2019.000
5,Total materiales recuperados,162.449,182.188,188.785,201.113,211.705,229.662,214.150,184.781,169.171,154.473,147.800,139.991,146.269,159.969,191.323,206.319
6,Recuperados en planta. Total,76.213,87.809,85.083,84.282,92.176,94.624,89.955,81.733,76.317,72.674,71.083,67.840,67.513,68.168,77.270,73.616
7,Recogida selectiva aportación. Total,86.236,94.379,103.702,116.831,119.529,135.038,124.195,103.048,92.854,81.799,76.717,72.151,78.756,91.802,114.052,132.702
8,Papel cartón. Total,98.551,113.328,110.155,118.654,120.004,129.620,117.858,93.144,80.230,66.254,60.929,50.895,55.129,63.868,19.268,89.690
9,Papel cartón. Recuperado en planta,38.803,47.102,36.508,35.431,38.086,37.462,36.773,32.462,29.780,26.298,24.560,22.568,22.008,20.803,19.268,16.215
10,Papel cartón. Recogida selectiva aportación,59.748,66.226,73.647,83.223,81.918,92.158,81.085,60.682,50.450,39.956,36.369,28.327,33.122,43.065,60.773,73.475
11,Vidrio. Total,27.576,29.169,30.715,34.507,38.337,43.719,44.071,43.532,43.377,42.670,41.048,44.468,46.319,49.567,54.031,59.810
12,Vidrio. Recuperado en planta,1.088,1.016,660,899,726,839,961.000,1.166,974.000,827.000,700.000,644.000,685.000,831.000,752.000,583.000
13,Vidrio. Recogida selectiva aportación,26.488,28.153,30.055,33.608,37.611,42.880,43.110,42.366,42.404,41.843,40.348,43.824,45.634,48.737,53.279,59.227
14,Otros materiales recogidos en planta,36.322,39.691,47.915,47.952,53.364,56.323,52.221,48.105,45.564,45.549,45.823,44.628,44.821,46.534,57.251,56.818
15,Otros materiales recogidos en planta. Plásticos,6.784,7.556,17.291,17.484,20.448,23.028,21.215,19.774,18.880,19.440,17.938,17.615,19.227,20.880,29.111,29.760
16,Otros materiales recogidos en planta. Ferromag...,21.714,23.263,20.459,19.426,18.559,18.185,16.827,17.159,16.972,17.372,19.172,18.171,16.055,15.539,16.061,14.197
17,Otros materiales recogidos en planta. Metales ...,1.181,1.387,397,122,697,1.129,949.000,939.000,853.000,765.000,640.000,539.000,634.000,659.000,677.000,644.000
18,Otros materiales recogidos en planta. Férrico ...,4.144,4.566,5.675,6.632,6.917,7.035,6.826,5.764,4.806,4.337,4.525,4.483,4.804,5.210,5.171,5.780
19,Otros materiales recogidos en planta. Línea bl...,1.350,1.547,1.329,1.445,1.739,1.649,1.644,400.000,25.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20,Otros materiales recogidos en planta. Aluminio,434,412,462,479,809,977,919.000,857.000,886.000,822.000,893.000,1.157,1.305,1.518,2.232,2.568
21,Otros materiales recogidos en planta. Brick,715,960,2.302,2.364,4.195,4.320,3.841,3.212,3.141,2.812,2.655,2.663,2.796,2.727,3.998,3.868
22,Compost producido (Material Bioestabilizado),79.247,82.050,84.898,90.760,71.976,69.824,74.108,64.725,22.868,11.201,14.462,10.966,9.068,11.522,13.605,13.275
23,Compost producido,-,-,-,-,-,-,5.048,3.766,0.000,0.000,0.000,0.000,1.133,406.000,0.000,692.000
24,Rechazos de tratamiento. Total,846.426,889.388,850.849,846.377,809.525,745.296,703.532,693.524,632.602,577.229,728.427,755.274,723.915,727.428,746.949,767.038
25,Rechazos de tratamiento a vertedero,555.737,604.353,566.514,547.477,496.461,434.001,388.402,386.384,366.683,242.149,486.913,497.993,453.880,413.393,418.269,434.058
26,Rechazos de tratamiento a incineración,290.689,285.035,284.335,298.900,313.064,311.295,315.130,307.140,265.919,335.080,241.514,257.281,270.035,314.035,328.680,332.980
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,FUENTE: Área de Gobierno de Medio Ambiente y M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,OBSERVACIONES: Férrico quemado es separado de ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN