In [5]:
import pandas as pd
import numpy as np
import re
import os

In [8]:
SEP = os.sep
dir = os.path.dirname
csv_fullpath = dir(dir(os.getcwd())) + SEP + "data" + SEP + "df_EDA_proyect.csv"

In [9]:
waste_management  = pd.read_csv(csv_fullpath)
waste_management

,Comunidad Autónoma,Año,PIB,Poblacion,PIB per capita,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,...,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste (please specify in IIR),Other waste incineration (please specify in the IIR),Other wastewater handling,Sewage sludge incineration
0,ANDALUCÍA,2010,1.447522e+08,8370975.0,17292.16,4213174.0,155836.0,11203.0,82031.0,136017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDALUCÍA,2018,1.607114e+08,8384408.0,19167.88,3755593.0,153300.0,1600.0,108768.0,117131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ANDALUCÍA,2016,1.484054e+08,8388107.0,17692.35,3545590.0,361986.0,4425.0,99622.0,101816.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANDALUCÍA,2014,1.377220e+08,8402305.0,16390.98,3437380.0,252293.0,4321.0,82208.0,95866.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ANDALUCÍA,2011,1.433891e+08,8424102.0,17021.29,3796057.0,152281.0,8370.0,74820.0,118200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,TOTAL NACIONAL,2017,1.161867e+09,46572132.0,24947.69,17457709.0,814281.0,20940.0,815883.0,1061380.0,...,0.21,0.0,0.0,0.09,0.0,742.75,16.83,0.0,2.09,11.61
176,TOTAL NACIONAL,2016,1.113840e+09,46557008.0,23924.22,17141367.0,910708.0,20376.0,797928.0,1021166.0,...,0.21,0.0,0.0,0.09,0.0,785.16,50.31,0.0,2.08,11.92
177,TOTAL NACIONAL,2011,1.063763e+09,47190493.0,22541.89,18291848.0,481780.0,43394.0,733682.0,1266397.0,...,0.23,0.0,0.0,0.09,0.0,826.90,19.80,0.0,1.45,13.03
178,TOTAL NACIONAL,2013,1.020348e+09,47129783.0,21649.75,17320704.0,532122.0,20985.0,720930.0,988226.0,...,0.22,0.0,0.0,0.08,0.0,954.47,17.95,0.0,0.67,10.58
179,TOTAL NACIONAL,2018,1.204241e+09,46722980.0,25774.06,17611068.0,673495.0,27875.0,834764.0,1067384.0,...,0.21,0.0,0.0,0.09,0.0,1009.63,17.52,0.0,2.09,11.56