# 06 - Combining datasets

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [7]:
serie1 = np.random.randint(1, 4, size=100)
serie2 = np.random.randint(1, 3, size=100)
serie3 = np.random.randint(10000, 30000, size=100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [14]:
serie1 = pd.Series(serie1)
serie2 = pd.Series(serie2)
serie3 = pd.Series(serie3)

In [17]:
Series = pd.concat([serie1, serie2, serie3], join='outer', axis=1)
Series.head()

   0  1      2
0  1  1  27580
1  3  1  16438
2  3  2  16058
3  3  2  26574
4  1  1  22333

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [19]:
Series.columns = ['bedrs', 'bathrs', 'price_sqr_meter' ]
Series.head()

   bedrs  bathrs  price_sqr_meter
0      1       1            27580
1      3       1            16438
2      3       2            16058
3      3       2            26574
4      1       1            22333

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [21]:
Series['bigcolumn'] = Series['price_sqr_meter']
Series

    bedrs  bathrs  price_sqr_meter  bigcolumn
0       1       1            27580      27580
1       3       1            16438      16438
2       3       2            16058      16058
3       3       2            26574      26574
4       1       1            22333      22333
..    ...     ...              ...        ...
95      1       2            20178      20178
96      2       2            16762      16762
97      3       2            12667      12667
98      2       1            12888      12888
99      3       1            21271      21271

[100 rows x 4 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [23]:
print(Series)

    bedrs  bathrs  price_sqr_meter  bigcolumn
0       1       1            27580      27580
1       3       1            16438      16438
2       3       2            16058      16058
3       3       2            26574      26574
4       1       1            22333      22333
..    ...     ...              ...        ...
95      1       2            20178      20178
96      2       2            16762      16762
97      3       2            12667      12667
98      2       1            12888      12888
99      3       1            21271      21271

[100 rows x 4 columns]

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [25]:
Series.reset_index()
Series.reindex(index=range(0,299))

     bedrs  bathrs  price_sqr_meter  bigcolumn
0      1.0     1.0          27580.0    27580.0
1      3.0     1.0          16438.0    16438.0
2      3.0     2.0          16058.0    16058.0
3      3.0     2.0          26574.0    26574.0
4      1.0     1.0          22333.0    22333.0
..     ...     ...              ...        ...
294    NaN     NaN              NaN        NaN
295    NaN     NaN              NaN        NaN
296    NaN     NaN              NaN        NaN
297    NaN     NaN              NaN        NaN
298    NaN     NaN              NaN        NaN

[299 rows x 4 columns]