<img src='..//resources/waste-treatment-processes.jpg'>

## 1. Imports the required libraries for EDA
#### First of all, import the needed libraries.Common data science functions have been used: numpy, pandas, matplotlib.

In [2]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 
import re 

# File system manangement
import os

# Necessary command
from utils.mining_data_tb import *

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
sns.set(color_codes=True)

## 2. Load the data into the data frame.
#### Loading the data into the pandas data frame is certainly one of the most important steps in EDA. First, we can list all the available data files. There are a total of 5 files. 3 files representing waste management: 1 file with information on waste generation, 1 file on waste disposal, 1 file on emissions produced by waste management. And 2 files to contrast the previous variables: 1 on the Spanish economy (GDP) and 1 on the population.

In [3]:
# List files available
print(os.listdir("../data/"))

['PIBcorriente_milesdeeuros.xlsx', 'poblacion.xls', 'recogida_residuos.xlsx', 'residuos_gestionados_nuevo.xlsx', 'total contaminantes nacional.xlsx']

In [4]:
#data = pd.read_csv('../data/recogida_residuos.xlsx')

In [5]:
# Read databases
gdp, disposal, population, collection, emissions = read_databases()


# Load into dataframes
gdp = pd.read_excel(gdp)
population = pd.read_excel(population)
waste_disposal = pd.read_excel(disposal)
waste_collection = pd.read_excel(collection)
waste_emissions = pd.read_excel(emissions)

## 3. Basic Data Exploration
#### In this step, it will be checked what the datasets are composed.  As they are different databases, they have different formats and types of objects.

In [6]:
gdp.head(3)

,Comunidad Autónoma,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ANDALUCÍA,86568676,93709992,100949639,109668109,118493081,128578073,138535591,148025809,151226849,144878289,144752225,143389086,138007226,136048003,137722026,144745569,148405362,155371755,160711363
1,ARAGÓN,20071592,21577543,23368239,24975186,26638692,28663286,31098276,33853480,35141063,33564425,33828995,33368344,31963049,32082809,32289054,32876311,34214691,35638352,36850296
2,PRINCIPADO DE ASTURIAS,14305047,15409649,16299205,17208849,18299196,19843031,21562413,23105938,23844408,22541896,22733586,22375426,21364846,20746770,20652899,21372587,21694246,22592548,23258673

In [7]:
population.head(3)

,Comunidad Autónoma,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996
0,ANDALUCÍA,8384408,8379820,8388107,8399043,8402305,8440300,8449985,8424102,8370975,...,7849799,7687518,7606848,7478432,7403968,7340052,7305117,7236459,,7234873
1,ARAGÓN,1308728,1308750,1308563,1317847,1325385,1347150,1349467,1346293,1347095,...,1269027,1249584,1230090,1217514,1199753,1189909,1186849,1183234,,1187546
2,PRINCIPADO DE ASTURIAS,1028244,1034960,1042608,1051229,1061756,1068165,1077360,1081487,1084341,...,1076635,1073761,1075381,1073971,1075329,1076567,1084314,1081834,,1087885

In [8]:
waste_disposal.head(3)

,Año,Comunidades Autónomas,Reciclado procedente de recogida separada,Materiales recuperados-TMB mezclados,Compostado/Digestion anaerobia de FORS,Compostado/Digestión anaerobia,Incinerado,Vertido de rechazos,Vertido sin tratamiento previo,Total,Unnamed: 10
0,2018,Andalucía,412818.0,166217.0,45572.0,685734.0,0.0,2404796.0,599650.0,4314787.0,NaN
1,2018,Aragón,82418.0,10209.0,212000.0,79834.0,0.0,172831.0,226741.0,572245.0,NaN
2,2018,Principado de Asturias,83728.0,0.0,2481.0,0.0,0.0,4908.0,390873.0,481990.0,NaN

In [9]:
waste_collection.head(3)

,,2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,...,2010.8,2010.9,2010.10,2010.11,2010.12,2010.13,2010.14,2010.15,2010.16,2010.17
0,,Total nacional,Andalucía,Aragón,Principado de Asturias,ILLES BALEARS,Canarias,Cantabria,Castilla y León,Castilla - La Mancha,...,Castilla - La Mancha,Cataluña,Comunitat Valenciana,Extremadura,Galicia,Comunidad de Madrid,Región de Murcia,Comunidad Foral de Navarra,País Vasco,LA RIOJA
1,10.1.1 Residuos domésticos y similares (domést...,17611068,3755593,475448,388505,672375,1128714,246839,915396,849572,...,968613,2441711,1869060,491529,1002349,2108673,711540,185635,694220,111409
2,10.1.2 Residuos domésticos voluminosos mezclad...,673495,153300,24205,15404,65140,25440,23336,17151,9959,...,31588,77627,59550,16706,23130,66879,15924,10709,24083,1276

In [10]:
waste_emissions.head(3)

,ANNO,SECTOR,ACTIVIDAD,DESCRIPCION,NO2,NMVOC,SOX,NH3,PM2_5,PM10,...,DIOX,BEN_A_PI,BEN_B_FL,BEN_K_FL,INDENO,PAH,HCB,PCB,Unnamed: 30,Unnamed: 31
0,2010,J_Waste,5A,Biological treatment of waste - Solid waste di...,0.012060,4.255421,0.0,0.000000,0.005535,0.008467,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,2010,J_Waste,5B1,Biological treatment of waste - Composting,0.000000,0.000000,0.0,1.087810,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,2010,J_Waste,5B2,Biological treatment of waste - Anaerobic dige...,0.001835,0.000000,0.0,0.085614,0.000763,0.000763,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

## 4. Data Cleaning
#### After completing the Data Sourcing, the next step in the process of EDA is Data Cleaning. It is very important to get rid of the irregularities and clean the data after sourcing it into system.
#### For the development of this project, a database cleaning is carried out independently or following patterns in databases with a similar format. To subsequently join the 5 databases.
#### * Missing Values
#### * Incorrect Format
#### * Incorrect Headers
#### * Anomalies

#### 4.1. 
##### For this database, it has been decided to place the years and the autonomous communities as rows, and the waste management variables will be placed as columns. The first difference is observed in the GDP and population databases. We proceed to eliminate the years that are not going to be considered in the analysis and to invert the shapes of the bases, to bring them closer to the desired format.

In [11]:
# Melt row into column
gdp, population = melt_data(gdp, population)

In [12]:

gdp.head(3)

    Comunidad Autónoma   Año        PIB
0            ANDALUCÍA  2010  144752225
160          ANDALUCÍA  2018  160711363
120          ANDALUCÍA  2016  148405362

In [13]:
population.head(3)

    Comunidad Autónoma   Año  Poblacion
0            ANDALUCÍA  2010    8370975
160          ANDALUCÍA  2018    8384408
120          ANDALUCÍA  2016    8388107

#### 4.2 WASTE COLLECTION & DISPOSAL
##### It has been observed that both the collection and the disposal base have a similar format, therefore a similar cleaning function is applied for both.

In [14]:
## WASTE COLLECTION DATA BASE CLEANED 
waste_collection = clean_collection(waste_collection)
waste_collection.head(3)

,Año,Comunidad Autónoma,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,Recoleccion-plasticos,Recoleccion-madera,Recoleccion-textiles,Recoleccion-eq. electricos,Recoleccion-pilas,Recoleccion-animales,Recoleccion-Envases mixtos,lodos,Recoleccion-construccion,Recoleccion-otros,TOTAL RESIDUOS MEZCLADOS,TOTAL RESIDUOS DE RECOGIDA SEPARADA,TOTAL RESIDUOS
0,2018,TOTAL NACIONAL,17611068,673495,27875,834764,1067384,24050,136153,40344,58733,1890,1010016,743556,0,472548,1891,18284563,4419204,22703767
1,2018,ANDALUCÍA,3755593,153300,1600,108768,117131,1677,12520,3269,5036,108,92395,94281,0,81204,374,3908893,518363,4427256
2,2018,ARAGÓN,475448,24205,324,18939,28910,251,3276,571,1226,12,8503,19142,0,69649,2,499653,150805,650458

In [15]:
## WASTE DISPOSAL DATA BASE CLEANED
waste_disposal = clean_disposal(waste_disposal)
waste_disposal.head(3)

,Año,Comunidad Autónoma,Reciclado procedente de recogida separada,Materiales recuperados-TMB mezclados,Compostado/Digestion anaerobia de FORS,Compostado/Digestión anaerobia,Incinerado,Vertido de rechazos,Vertido sin tratamiento previo,Total
0,2018,ANDALUCÍA,412818.0,166217.0,45572.0,685734.0,0.0,2404796.0,599650.0,4314787.0
1,2018,ARAGÓN,82418.0,10209.0,212000.0,79834.0,0.0,172831.0,226741.0,572245.0
2,2018,PRINCIPADO DE ASTURIAS,83728.0,0.0,2481.0,0.0,0.0,4908.0,390873.0,481990.0

#### 4.3. WASTE EMISSIONS DATA BASE CLEANED 
##### For this database, no disaggregated information on pollutants by Autonomous Community has been found. However, to obtain the amount of pollution that has been produced by waste management, this information has been retained, which, when joined to the general database, will be NaN.

In [16]:
waste_emissions = clean_emissions(waste_emissions)
waste_emissions.head(3)

DESCRIPCION,Biological treatment of waste - Anaerobic digestion at biogas facilities,Biological treatment of waste - Composting,Biological treatment of waste - Solid waste disposal on land,Clinical waste incineration,Cremation,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste (please specify in IIR),Other waste incineration (please specify in the IIR),Other wastewater handling,Sewage sludge incineration,Año
0,0.12,1.09,4.52,0.0,0.32,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14,2010
1,0.19,1.03,4.76,0.0,0.34,0.23,0.0,0.0,0.09,0.0,826.90,19.80,0.0,1.45,13.03,2011
2,0.25,0.99,4.74,0.0,0.38,0.22,0.0,0.0,0.08,0.0,542.86,18.72,0.0,0.67,15.78,2012

#### 4.4 DATABASES MERGE
#### After the different databases have been adapted to a similar format, they are merged into a single database that will be used for the exploratory analysis.

In [17]:
waste_management = merge(gdp, population, waste_collection, waste_disposal, waste_emissions)
waste_management

,Comunidad Autónoma,Año,PIB,Poblacion,GDP per capita,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,...,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste (please specify in IIR),Other waste incineration (please specify in the IIR),Other wastewater handling,Sewage sludge incineration
0,ANDALUCÍA,2010,1.447522e+08,8370975.0,17292.16,4213174.0,155836.0,11203.0,82031.0,136017.0,...,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14
1,ARAGÓN,2010,3.382900e+07,1347095.0,25112.55,479442.0,14003.0,1105.0,23203.0,31964.0,...,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14
2,CANARIAS,2010,4.081148e+07,2118519.0,19264.16,1220612.0,30371.0,1953.0,27221.0,69027.0,...,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14
3,CANTABRIA,2010,1.283668e+07,592250.0,21674.44,259965.0,8153.0,1005.0,10547.0,13826.0,...,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14
4,CASTILLA - LA MANCHA,2010,3.870683e+07,2098373.0,18446.11,968613.0,31588.0,11221.0,20887.0,36202.0,...,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,MELILLA,2015,1.461285e+06,85584.0,17074.28,NaN,NaN,NaN,NaN,NaN,...,0.22,0.0,0.0,0.09,0.0,797.12,17.37,0.0,2.08,11.58
176,PAÍS VASCO,2015,6.498999e+07,2189257.0,29685.87,659754.0,8447.0,430.0,58948.0,117879.0,...,0.22,0.0,0.0,0.09,0.0,797.12,17.37,0.0,2.08,11.58
177,PRINCIPADO DE ASTURIAS,2015,2.137259e+07,1051229.0,20331.05,388188.0,15971.0,750.0,33197.0,56253.0,...,0.22,0.0,0.0,0.09,0.0,797.12,17.37,0.0,2.08,11.58
178,REGIÓN DE MURCIA,2015,2.849208e+07,1467288.0,19418.19,589409.0,11306.0,194.0,23450.0,13814.0,...,0.22,0.0,0.0,0.09,0.0,797.12,17.37,0.0,2.08,11.58
179,TOTAL NACIONAL,2015,1.077590e+09,46624382.0,23112.16,17106176.0,647373.0,22430.0,755608.0,1008959.0,...,0.22,0.0,0.0,0.09,0.0,797.12,17.37,0.0,2.08,11.58

#### 4.5 RENAMING THE COLUMNS 
#### In this instance, most of the column names are very confusing to read, so I just tweaked their column names. This is a good approach it improves the readability of the data set. The language of the variables in this database has been changed to standardise it according to this report. Identifying with C for collection, D for disposal variables, and E for emissions.

In [18]:
waste_management = rename_db(waste_management)
waste_management.head(3)

,Autonomous communities,Year,GDP,Population,GDP per capita,Domestic Waste and Wheelie Bins -C,Bulk -C,Metallics waste-C,Waste Glass-C,Waste Paper and Cardboard-C,...,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste-E,Other waste incineration-E,Other wastewater handling,Sewage sludge incineration
0,ANDALUCÍA,2010,144752225.0,8370975.0,17292.16,4213174.0,155836.0,11203.0,82031.0,136017.0,...,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14
1,ARAGÓN,2010,33828995.0,1347095.0,25112.55,479442.0,14003.0,1105.0,23203.0,31964.0,...,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14
2,CANARIAS,2010,40811481.0,2118519.0,19264.16,1220612.0,30371.0,1953.0,27221.0,69027.0,...,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14

## 5. Exploratory Data Analysis
### In this part of the process, statistics are computed and calculations are made to find trends, anomalies, patterns or relationships within the data. Will serve to see what the data can tell us beyond the formal task of modelling or hypothesis testing.

#### 5.1 EXAMINE THE DISTRIBUTION OF THE TARGET VARIABLES 
#### The objective of this project is to analyse solid waste management in the Spanish Autonomous Communities and to verify the relationship with economic and population growth. It will also analyse the atmospheric emissions that this sector represents.

In [20]:
waste_management.describe()

,Year,GDP,Population,GDP per capita,Domestic Waste and Wheelie Bins -C,Bulk -C,Metallics waste-C,Waste Glass-C,Waste Paper and Cardboard-C,Plastics-C,...,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste-E,Other waste incineration-E,Other wastewater handling,Sewage sludge incineration
count,180.000000,1.800000e+02,1.800000e+02,180.000000,1.620000e+02,162.000000,162.000000,162.000000,1.620000e+02,162.000000,...,180.000000,180.0,180.0,180.000000,180.0,180.000000,180.000000,180.0,180.000000,180.000000
mean,2014.000000,1.085833e+08,4.687272e+06,22413.896000,1.955064e+06,70279.259259,3327.666667,85559.555556,1.224548e+05,7063.462963,...,0.227778,0.0,0.0,0.087778,0.0,785.938889,21.354444,0.0,1.633333,12.271111
std,2.589191,2.332272e+08,9.998762e+06,4494.026136,3.919217e+06,152071.367952,7475.923788,171472.541648,2.522466e+05,19894.366509,...,0.029814,0.0,0.0,0.004169,0.0,137.022592,10.312692,0.0,0.571756,1.461227
min,2010.000000,1.369832e+06,7.603400e+04,15399.900000,1.030260e+05,741.000000,0.000000,5868.000000,4.053000e+03,0.000000,...,0.210000,0.0,0.0,0.080000,0.0,542.860000,16.230000,0.0,0.670000,10.580000
25%,2012.000000,1.796602e+07,9.330715e+05,18909.610000,4.288010e+05,9625.250000,331.750000,18336.500000,2.621275e+04,172.750000,...,0.210000,0.0,0.0,0.090000,0.0,742.750000,17.370000,0.0,1.450000,11.560000
50%,2014.000000,3.589570e+07,1.752658e+06,21306.505000,7.741405e+05,19736.500000,834.500000,33648.500000,3.933050e+04,1404.500000,...,0.220000,0.0,0.0,0.090000,0.0,792.330000,17.520000,0.0,2.080000,11.610000
75%,2016.000000,7.759946e+07,3.333617e+06,25452.195000,1.852328e+06,45711.250000,2521.250000,77790.250000,9.549650e+04,4820.500000,...,0.220000,0.0,0.0,0.090000,0.0,826.900000,18.720000,0.0,2.080000,13.030000
max,2018.000000,1.204241e+09,4.726532e+07,35136.940000,1.880867e+07,910708.000000,56416.000000,834764.000000,1.467365e+06,185501.000000,...,0.310000,0.0,0.0,0.090000,0.0,1009.630000,50.310000,0.0,2.090000,15.780000