## Working on Jsons

In [12]:
import requests
import json
import pandas as pd

In [13]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)

In [14]:
json_readed = r.json()
print(type(json_readed))

<class 'dict'>

In [15]:
with open('data.json', 'w+') as vr:
    json.dump(json_readed, vr)

In [16]:
with open('data_indented.json', 'w+') as outfile:
    json.dump(json_readed, outfile, indent=4)

In [17]:
with open('data_indented.json', 'r+') as outfile:
    json_readed = json.load(outfile)
print(type(json_readed))

<class 'dict'>

In [18]:
df = pd.DataFrame(json_readed)
df

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [10]:
df_json = pd.read_json("data_indented.json")
df_json

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [19]:
df2 = df.loc["standard":, "league":]
df2

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [26]:
# Pasar una serie a DataFrame
df_serie = df.loc["standard":, "league"]
df3 = pd.DataFrame(df_serie)
df3

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [44]:
df4 = df3.join(df3['league'].str.split(' ', 1, expand=True).rename(columns={0:'row', 1:'league'}))
df4

                                                       league  row
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...  NaN
africa      [{'isNBAFranchise': False, 'isAllStar': False,...  NaN
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...  NaN
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...  NaN
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...  NaN

In [40]:
df4[['First','League']] = df3.league.str.split(expand=True)
df4

ValueError: Columns must be same length as key

In [38]:
df4 = pd.DataFrame(df.league.str.split(' ',1).tolist(),
                                 columns = ['row','league'])
df4

ValueError: Shape of passed values is (8, 1), indices imply (8, 2)

In [36]:
df4 = pd.DataFrame(df3)
df4

In [27]:
df_members_json = pd.DataFrame(df3["league"])
df_members_json

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [ ]:
df_members_json = pd.DataFrame.from_dict(json_readed["league"])
df_members_json

In [53]:
with open('data_indented.json', 'r+') as outfile:
    json_readed = json.load(outfile)
print(type(json_readed))

<class 'dict'>

In [48]:
df_league = pd.DataFrame(df3["league"])
df_league

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [56]:
type(json_readed["league"])

dict

In [13]:
df_members_json = pd.DataFrame.from_dict(json_readed["league"], orient='index')
df_members_json

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
standard,"{'isNBAFranchise': False, 'isAllStar': True, '...","{'isNBAFranchise': False, 'isAllStar': True, '...","{'isNBAFranchise': False, 'isAllStar': True, '...","{'isNBAFranchise': False, 'isAllStar': True, '...","{'isNBAFranchise': False, 'isAllStar': True, '...","{'isNBAFranchise': False, 'isAllStar': True, '...","{'isNBAFranchise': False, 'isAllStar': False, ...","{'isNBAFranchise': False, 'isAllStar': False, ...","{'isNBAFranchise': False, 'isAllStar': False, ...","{'isNBAFranchise': True, 'isAllStar': False, '...",...,"{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': False, 'isAllStar': False, ...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': False, 'isAllStar': False, ...","{'isNBAFranchise': False, 'isAllStar': False, ...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '..."
africa,"{'isNBAFranchise': False, 'isAllStar': False, ...","{'isNBAFranchise': False, 'isAllStar': False, ...",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
sacramento,"{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
vegas,"{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...",...,None,None,None,None,None,None,None,None,None,None
utah,"{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...","{'isNBAFranchise': True, 'isAllStar': False, '...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
df_members_json = pd.DataFrame(dict([ (k,json_readed["league"].Series(v)) for k,v in json_readed["league"].items() ])) #B (Better)

df_members_json

AttributeError: 'dict' object has no attribute 'Series'

In [85]:
  df_members_json1 = pd.DataFrame(df_members_json["league"])
df_members_json1

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

#### GOAL

![](json_df_goal_nba.png)