## Working on Jsons

In [2]:
import requests
import json
import pandas as pd
import ast
import urllib.request as request

In [3]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)

In [4]:
json_readed = r.json()
print(type(json_readed))

<class 'dict'>

In [5]:
with open('data.json', 'w+') as vr:
    json.dump(json_readed, vr)

In [6]:
with open('data_indented.json', 'w+') as outfile:
    json.dump(json_readed, outfile, indent=4)

In [8]:
with open('data_indented.json', 'r+') as outfile:
    json_readed = json.load(outfile)
print(type(json_readed))

<class 'dict'>

In [9]:
df = pd.DataFrame(json_readed)
df

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [10]:
df_json = pd.read_json("data_indented.json")
df_json

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [11]:
df2 = df.loc["standard":, "league":]
df2

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [12]:
# Pasar una serie a DataFrame
df_serie = df.loc["standard":, "league"]
df3 = pd.DataFrame(df_serie)
df3

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [57]:
df3 = df3.rename_axis('index').reset_index()
df3

   index                                             league
0      0  [{'isNBAFranchise': False, 'isAllStar': True, ...
1      1  [{'isNBAFranchise': False, 'isAllStar': False,...
2      2  [{'isNBAFranchise': True, 'isAllStar': False, ...
3      3  [{'isNBAFranchise': True, 'isAllStar': False, ...
4      4  [{'isNBAFranchise': True, 'isAllStar': False, ...

In [58]:
del df3['index']
df3

                                              league
0  [{'isNBAFranchise': False, 'isAllStar': True, ...
1  [{'isNBAFranchise': False, 'isAllStar': False,...
2  [{'isNBAFranchise': True, 'isAllStar': False, ...
3  [{'isNBAFranchise': True, 'isAllStar': False, ...
4  [{'isNBAFranchise': True, 'isAllStar': False, ...

In [17]:
df4 = pd.DataFrame(df3['league']['standard'][:5])
df4

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East

In [18]:
df4.to_json("json_name.json")

In [20]:
import json
json_result = df4.to_json()
parsed = json.loads(json_result)
with open("final_json.json", 'w+') as outfile:
    json.dump(parsed, outfile, indent=4)

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

#### GOAL

![](json_df_goal_nba.png)